:root {
  --white: #ffffffff; /* main background colour */
  --night: #0b0c0cff; /* header background colour */
  --white-smoke: #f3f2f1ff; /* footer background colour */
  --azul: #1d70b8ff; /* accent colour */
  --dark-spring-green: #00703cff; /* colour for buttons or other interactions */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.1px;
}

html, body {
  height: 100%;
  margin: 0;
  /* overflow: hidden; */
}

body {
  font-family: 'GDS Transport', Helvetica, Arial, sans-serif;
  background-color: var(--white);
}

/* Header */
.site-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: var(--night); 
  padding: 10px 25vw;
  border-bottom: 5px solid var(--azul);
  color: var(--white);
  /* margin-bottom: 10px; */
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left .landing-site-title {
  visibility: visible;
}

.header-left .landing-site-title a {
  font-size: 2rem;
  color: var(--white);
  text-decoration: none;
  visibility: visible;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header-left .landing-site-title a:hover {
  color: var(--azul);
}

.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-menu ul li a {
  text-decoration: none;
  color:var(--white);
  font-size: 1.25rem;
  transition: color 0.3s ease;
  font-weight: lighter;
}

.nav-menu ul li a:hover {
  color: var(--white); 
}

.nav-menu ul li a.active {
  font-weight: bold;
}

a.logo2website {
  display: flex;
  margin-right: 15px;
}

img.logo {
  max-height: 2.5rem;
  transition: transform 0.2s ease;
  background-color: var(--white);
  border-radius: 4px;
}

img.logo:hover {
  transform: scale(1.1);
}

/* MAIN */
main {
  padding: 10px 25vw;
  min-height: 90vh;
  margin-top: 20px;
}

main h1 {
  font-size: 3rem;
  color: var(--night);
  font-weight: 700;
  margin-bottom: 1.1875rem;
}

main h2 {
  font-size: 2.25rem;
  color: var(--night);
  font-weight: 700;
  margin-bottom: 1.1875rem;
}

main h3 {
  font-size: 1.6875rem;
  color: var(--night);
  margin-bottom: 1.1875rem;
  font-weight: 700;
}

main h4 {
  font-size: 1.1875rem;
  color: var(--night);
  margin-bottom: 1.1875rem;
  font-weight: 700;
}

main p {
  font-size: 1.1875rem;
  color: var(--night);
  font-weight: 400;
  line-height: 1.3157894737;
  margin: 0 0 20px 0;
}

main li {
  font-size: 1.1875rem;
  color: var(--night);
  font-weight: 400;
  line-height: 1.3157894737;
  margin: 0 0 10px;
  padding: 0;
}

main ul {
  margin: 0 0 20px 20px;
  list-style-type: disc;
}

main img {
  margin: 1.1875rem auto;
}

/* FOOTER */
footer {
  padding: 10px 25vw;
  background-color: var(--white-smoke);
  color: var(--night);
  min-height: 10vh;
  border-top: 5px solid var(--azul);
}

/* Utils */
.web-button {
  text-decoration: none;
  color: var(--white);
  margin-bottom: 40px;
  font-size: 1.1875rem;
  line-height: 1;
  font-weight: 700;
  display: inline-flex;
  min-height: auto;
  justify-content: center;
  box-sizing: border-box;
  padding: 8px 10px 7px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 0;
  background-color: var(--dark-spring-green);
  box-shadow: 0 2px 0 rgb(0, 44.8, 24);
  text-align: center;
  vertical-align: top;
  cursor: pointer;
}

.web-button:active {
  top: 2px;
}

.web-button:hover {
    background-color: rgb(0,89.6,48);
}

.web-button:focus:not(:active):not(:hover) {
    border-color: #fd0;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 2px 0 #0b0c0c;
}

/* USE CASES PAGE */
.usecase1 {
  display: flex;
  flex-direction: row;
  align-items: top;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.usecase1-text {
  text-align: left;
}

.usecase1-img img {
  border: none;
  margin: 0;
  width: 20vw;
  height: auto;
  min-width: 200px;
}

.usecase2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: top;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.usecase2-text {
  text-align: right;
}

.usecase2-img img {
  border: none;
  margin: 0;
  width: 20vw;
  height: auto;
  min-width: 200px;
}