:root {
  --white: #ffffffff; /* main background colour */
  --night: #0b0c0cff; /* header background colour */
  --white-smoke: #f3f2f1ff; /* footer background colour */
  --azul: #1d70b8ff; /* accent colour */
  --dark-spring-green: #00703cff; /* colour for buttons or other interactions */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.1px;
}

html, body {
  height: 100%;
  margin: 0;
  /* overflow: hidden; */
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: var(--white);
}

/* Header */
header {
  background-color: var(--night);
  border-bottom: 5px solid var(--azul);
  color: var(--white);
}

.header-top, .header-main, .header-bottom {
  padding-top: 5px;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 5px;
}

.header-top a, .header-main a {
  color: var(--white);
  visibility: visible;
  transition: color 0.3s ease;
}
.header-main .landing-site-title a {
  color: var(--white);
  margin-top: 10px;
  text-decoration: none;
}

.header-main .landing-site-title a:hover, .header-top a:hover {
  color: var(--azul);
}

.header-bottom .nav-menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.header-bottom .nav-menu ul li a {
  text-decoration: none;
  color:var(--white);
  font-size: 1.25rem;
  transition: color 0.3s ease;
  font-weight: medium;
}

.header-bottom .nav-menu ul li a:hover {
  color: var(--azul);
}

.header-bottom .nav-menu ul li a.active {
  font-weight: bold;
}

a.logo2website {
  display: flex;
  margin-right: 15px;
}

img.logo {
  max-height: 2.5rem;
  transition: transform 0.2s ease;
  background-color: var(--white);
  border-radius: 4px;
}

img.logo:hover {
  transform: scale(1.1);
}

main #github-discussions-feed ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

main #github-discussions-feed ul li small.discussion-content p {
  margin-left: 20px;
}

main #github-discussions-feed ul li small.discussion-content ol li {
  margin-left: 20px;
}
/* MAIN */
main {
  padding: 10px 25vw;
  min-height: 77vh;
  margin-top: 20px;
}

main h1 {
  font-size: 3rem;
  color: var(--night);
  font-weight: 700;
  margin-bottom: 1.1875rem;
}

main h2 {
  font-size: 2.25rem;
  color: var(--night);
  font-weight: 700;
  margin-bottom: 1.1875rem;
}

main h3 {
  font-size: 1.6875rem;
  color: var(--night);
  margin-bottom: 1.1875rem;
  font-weight: 700;
}

main h4 {
  font-size: 1.1875rem;
  color: var(--night);
  margin-bottom: 1.1875rem;
  font-weight: 700;
}

main p {
  font-size: 1.1875rem;
  color: var(--night);
  font-weight: 400;
  line-height: 1.3157894737;
  margin: 0 0 20px 0;
}

main code {
  background-color: #818b981f;
  padding: 0.2em;
  font-size: inherit;
  border-radius: 6px;
  margin: 0;
  white-space: break-spaces;
}

main pre {
  background-color: #818b981f;
  padding: 0.2em;
  font-size: inherit;
  border-radius: 6px;
  margin: 0;
  white-space: break-spaces;
}

main pre code {
  background-color: transparent;
  padding: 0.2em;
  font-size: inherit;
  border-radius: 6px;
  margin: 0;
  white-space: break-spaces;
}

main li {
  font-size: 1.1875rem;
  color: var(--night);
  font-weight: 400;
  line-height: 1.3157894737;
  margin: 0 0 10px;
  padding: 0;
}

main ul, main ol {
  margin: 0 0 20px 20px;
  list-style-type: disc;
}

main img {
  margin: 1.1875rem auto;
  width: 100%;
}

/* FOOTER */
footer {
  padding: 10px 25vw;
  background-color: var(--white-smoke);
  color: var(--night);
  min-height: 10vh;
  border-top: 5px solid var(--azul);
}

/* Markdown Content */
.markdown-content, .markdown-content-external {
  margin-bottom: 15px;
}

/* Utils */
.web-button {
  text-decoration: none;
  color: var(--white);
  margin-bottom: 40px;
  font-size: 1.1875rem;
  line-height: 1;
  font-weight: 700;
  display: inline-flex;
  min-height: auto;
  justify-content: center;
  box-sizing: border-box;
  padding: 8px 10px 7px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 0;
  background-color: var(--dark-spring-green);
  box-shadow: 0 2px 0 rgb(0, 44.8, 24);
  text-align: center;
  vertical-align: top;
  cursor: pointer;
}

.web-button:active {
  top: 2px;
}

.web-button:hover {
  background-color: rgb(0,89.6,48);
}

.web-button:focus:not(:active):not(:hover) {
    border-color: #fd0;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 2px 0 #0b0c0c;
  }

/* USE CASES PAGE */
.usecase1 {
  display: flex;
  flex-direction: row;
  align-items: top;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.usecase1-text {
  text-align: left;
  margin-right: 50px;
}

.usecase1-img img {
  border: none;
  margin: 0;
  width: 20vw;
  height: auto;
  min-width: 200px;
  visibility: hidden;
}

.usecase2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: top;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.usecase2-text {
  text-align: right;
  margin-left: 50px;
}

.usecase2-img img {
  border: none;
  margin: 0;
  width: 20vw;
  height: auto;
  min-width: 200px;
  visibility: hidden;
}

/* Tables in main */
main table {
  border: 0px solid;
  margin-bottom: 1.1875rem;
  min-width: 100%;
}

main th, main td {
  text-align: left;
  padding: 5px;
  max-width: 250px;
}

main th {
  border-bottom: 2px solid;
  background-color: var(--white);
}

main td {
  font-size: 0.75em;
}

main td code {
  font-size: 1.25em;
  padding: 0.2em 0.4em;
  line-height: 1.75em;
}

/* main tr {
  background-color: rgba(243, 242, 241, 0.5);
} */

/* Hierarchy styling */
main tr.hierarchy-child {
  background-color: var(--white);
}

main td.hierarchy-arrow-cell {
  position: relative;
  padding-left: 1em;
  border-left: 2px solid var(--azul);
}

/* main td.hierarchy-parent-cell {
  position: relative;
  border-left: 2px solid var(--dark-spring-green);
} */

main .hierarchy-indent {
  display: inline-block;
}

main table.catalogue td {
    font-size: 1.25em;
  }

main table.catalogue td a.web-button{
    margin: 10px;
    width: 140px; /* this is hard-coded, which is obviously bad, but the only way I could keep buttons of consistent width */
  }

main a:not(.web-button) {
  color: var(--azul);
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: max(1px, .0625rem);
  text-underline-offset: .1578em;
  background-image: url("\\images\\other_images\\newtab.svg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 0.857em;
  padding-right: 1em;
}

main a:not(.web-button):hover {
  color: #223582;
}

/* Footer */
footer .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer .tags {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

footer #github-image {
  width: auto;
  height: 30px;
}

footer h1 {
  font-size: 1.5rem;
  line-height: 1.25;
  color: var(--night);
  font-weight: 700;
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #8eb8dc;
}

footer p, footer a  {
  font-size: 1.1875rem;
  color: var(--night);
  font-weight: 400;
  line-height: 1.3157894737;
  margin: 0 0 20px 0;
}

footer td a {
  text-decoration: underline;
  text-decoration-thickness: max(1px, .0625rem);
  text-underline-offset: .1578em;
  background-image: url("\\images\\other_images\\mailto_icon.svg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 0.857em;
  padding-right: 1em;
}

footer table {
  border: 0px solid;
  margin-bottom: 30px;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
  width: 100%;
  table-layout: fixed;
}

footer th {
  font-weight: 400;
  width: 35%;
  vertical-align: top;
}

footer td {
  word-wrap: break-word;
  overflow-wrap: break-word;
  vertical-align: top;
}

/* Tab styles */
.tabs {
    margin: 20px 0;
}

.tab-button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background: var(--white-smoke);
}

.tab-button.active {
    background: var(--azul);
    color: var(--white);
}

.tab-content {
    display: none;
    /* padding: 20px; */
}

.tab-content.active {
    display: block;
}

.bottom-tabs {
    margin-top: 40px;
    border-top: 1px solid var(--white-smoke);
    padding-top: 20px;
}

.open-issue-marker {
  display: inline-block;
  color: var(--azul);
  font-size: 1.2rem;
  cursor: help;
}

.hover-text {
  visibility: hidden; 
  width: 200px;
  background-color: var(--white-smoke);
  color: var(--azul);
  text-align: center;
  padding: 5px 5px;
  border-radius: 1px;
  position: absolute;
  z-index: 1; 
}

.open-issue-marker:hover .hover-text {
  visibility: visible;
}